h1 {
    @extend %force-center;
}

main {
    margin-top: 20px;
}

form {
    span {
        margin-right: 8px;
        font-size: 1.1rem;
    }
}

label {
    display: block;
}

.conversions {
    p {
        margin: 0;
    }
    span {
        display: block;
        min-height: 30px;
    }
}